<!DOCTYPE html>
<html lang="en">
<head>
  <title>CakelustKE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap Scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Add additional CSS and JS in static file -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'cakelust/styles.css' %}">

</head>
<body>
  <nav class="navbar navbar-expand-sm nav-light sticky-top">
    <a class="navbar-brand" href="{% url 'home' %}">
      {% load static %}
      <img src="{% static 'cakelustlogo.jpg' %}" class="logoimg"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'flavours' %}">Flavours</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="{% url 'priceguide' %}">Price Guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactus">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Place Order</a>
        </li>
      </ul>
    </div>  
  </nav>

  
  <div class="container content-wrapper">
    {% block content %}
  
    {% endblock %}
  </div>
</body>
</html>
