<!DOCTYPE html>
<html lang="en">
<head>
  <title>CakelustKE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap Scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

  <!-- Add additional CSS and JS in static file -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'cakelust/styles.css' %}">

</head>
<body>
    <!--Footer-->
    <div class="Footer">
        <footer class="footerone">&copy2021 CakelustKE. All rights reserved.</footer>
        <footer class="footertwo">
          <a class="footertwo" href="https://www.linkedin.com/in/emmaculate-kamau-987353104/">
            Designed by Emmaculate Kamau
          </a>
        </footer>
    </div>
</body>
</html><footer class="footertwo"></footer>
