body{
    position: relative;
    height: 100%;
}


/*Styling for navigation bar*/

@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
.bg-iconnav {
  background: #f0323d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #FF00FF 0%, #E0B0FF 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FF00FF 0%, #E0B0FF 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #FF00FF 0%, #E0B0FF 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF00FF', endColorstr='#e6366c', GradientType=0);
  /* IE6-9 */
  border-radius: 0;
  padding: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logoimg{
    height: 5rem;
    width: 6rem;
}

.navbar{
    background-color: white;
    width: 100%;
}

a{
    color: #FF00FF;
    font-weight: bold;
    font-size: large;
}

a:hover{
    color:  #E0B0FF;
    font-size: 1.5rem;
}

/*Styling for homepage - section one*/

.hmpgimg{
    width: 100%;
}

/*Styling for gallery - section two*/
.gallery{
    text-align: center;
    justify-content: center;
}

.images{
    height: 16rem;
    width: 18rem;
}

.card{
    height: 24rem;
    width: 21rem;
    margin: 1rem;
    align-items: center;
}

.card-footer{
    background-color: white;
    color: #FF00FF;
}

.footer-gallery{
    padding: 2rem;
    font-size: 28px;
}

hr{
    color: #FF00FF;
    border: 8px solid;
}


/*Styling for customer review - section three*/
.reviewmain{
    height: 100%;
}

.reviewform{
    width: 100%;
    text-align: left;
    margin-top: 1rem;
}

.review{
    background-color: #FAE6FA;
    padding: 1rem;
    margin: 1rem;
    width: 90%;
}

.revhd{
    padding-top: 1rem;
    text-align: left;
}

.custreview{
    overflow-y: scroll;
    height: 20rem;
    width: 100%;
    margin-left: 0.5rem;
}

.form-group{
    margin: 1rem;
}

h2{
    color: #FF00FF;
    font-weight: bold;
    margin: 1rem;
}

h5{
    color: #FF00FF;
    font-weight: bold;
    margin: 2rem 1rem;
}

.btn{
    background-color: #FF00FF;
    color: white;
    font-weight: bold;
    margin-left: 1rem;
}



/*Styling for Contact Us - section four*/
.contacthd{
    color: white;
    padding-top: 1rem;
}

.socialcont{
    padding: 1rem;
    align-items: center;
}

.socialicon{
    height: 3rem;
    width: 3rem;
}

.icon{
    margin-left: 3rem;
}

.contactus{
    background-color: #FF00FF;
    color: white;
    height: 100%;
    width: 100%;
}

.icontxt{
    font-weight: bold;
}

/*Styling for Footer - section five*/
.Footer{
    background-color: #FF00FF;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 2rem;
    width: 100%;
    padding: 1.5rem;
    position: sticky;
}

.footerone{
    font-size: medium;
}

.footertwo{
    font-size: small;
}


/*Styling for Gallery/Flavours/Pricelist*/
.gallerycard {
    padding: 1rem;
}

.gallerycard-1 {
    justify-content: center;
}

.flavours{
    height: 35rem;
}

.card-text{
    padding: 1rem;
}

.pricelist{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*Styling for Order page*/
.order-page{
    text-align: center;
    background-color: #FAE6FA;
    padding: 1rem;
}

.order-head1{
    color: #FF00FF;
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
}

.order-head6{
    font-weight: bold;
    color: #FF00FF;
    font-size: 16px;
}

.disclaimer{
    font-weight: bolder;
    font-size: xx-large;
    color: #FF00FF;
    text-decoration: underline;
}







