{% extends "base.html" %}

{% block content %}

<div class="container">
  <br>
  <br>
  <br>
  <br>
    <h2>Cake Your Day</h2>
</div>
<div class="container-fluid">
  <div class="row gallerycard-1">
    {% for cake in gallery %}
    <div class="card gallerycard">
      <img class="images img-responsive" src=" {{ cake.cakeimage.url }}" id="gallery" />
      <div class="card-footer footer-gallery">{{ cake.cakename }}</div>
    </div>
    {% endfor %}
  </div>
</div>

{% include "contactus.html" %}
{% include "footer.html" %}

{% endblock %}