{% extends "base.html" %}

{% block content %}

<div class="order-page">
    <br>
    <br>
    <br>
    <br>
    <h1 class="order-head1">A little bit of housekeeping&#128521;</h1><br>

    <h6 class="order-head6">Advance notice:</h6>
    <p class="order-paragraph">Atleast 48hrs notice required.</p><br>

    <h6 class="order-head6">Deposits:</h6>
    <p class="order-paragraph">50% deposit required to confirm order.</p><br>

    <h6 class="order-head6">Collection:</h6>
    <p class="order-paragraph">Please note, this is an online shop. Delivery charges apply.</p><br>

    <h6 class="order-head6">Allergens</h6>
    <p class="order-paragraph">All the products contain allergens including:</p>
    <p><i>wheat, eggs and its by-products, milk and dairy products as well as nuts and its by-products.</i></p><br>

    <p class="disclaimer"><strong>Kindly notify us incase of any allergies.</strong></p><br>

    <a href="https://wa.link/pvjjje">
        <button type="button" class="btn btn-lg order-btn" onclick="myAlertbox()">Place Order</button>
    </a><br>

</div><br>

{% include "contactus.html" %}
{% include "footer.html" %}

{% endblock %}